.button{
	background: linear-gradient(90deg, $classic-highlight-color, $ui-base-lighter-color); //background:#9175D9;
}

.column-link{
	text-shadow: 1px 1px 3px #ffffff80; //#FF42BA;
}

.reply-indicator{
	background: $ui-primary-color !important;
}
